body{
    margin: 0px;
}
.wrapper {
    padding-top: 15px; 
    padding-left: 350px;
    padding-right: 350px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 50px;
  }

.case{
    border: 2px;
    border-style: solid;
    border-color: black;
  }